	<!DOCTYPE html>

	<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/cyto.css') }}">  
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.3.js') }}"></script>
		<title>CytoQuant</title>
	</head>

	<body>
		<div class="main-container">

			<!-- HEADER START -->
			<header id="header-container">
				<!-- NAVIGATION BAR -->
				{% block header %}
					{% 
						include 'navigation_bar.php'
					%}
				{% endblock %}	
				<!-- NAVIGATION BAR -->
			</header><!-- HEADER CONTAINER -->

		<!-- menu -->
		<div id="menuBar" class="table" style="top: 100px;">
			<div class="row">
				<div id="myNavigator"></div>
			</div>

			<div class="row">
				<div class="cell" style="text-align:center">
					<button class="button" id="prev" title="Previous slice"><img src="../static/images/prev.svg"></button>
					<button class="button" id="next" title="Next slice" ><img src="../static/images/next.svg"></button>
				</div>
			</div>

			<div class="row">
				<form id="frmsegment" action="{{ url_for('segmentation') }}" align="center" method=post enctype=multipart/form-data>
					<div ><input type="image" class="circle_image" src="{{ url_for('static', filename = 'icons/segmentation_icon.png') }}" border="0" alt="Submit"></div>
					<div ><input id="btnSegment" type="button"   value="Segmentation" class="bt-function"></div>
				</form>
			</div>
		</div>

		<!-- pic start -->
		<div id="openseadragon1">

		</div>
		<!-- pic ends -->

	    <!-- footer start -->
	    {% block footer %}
			{% 
				include 'footer.php' 
			%} 
		{% endblock %}
	    <!-- footer end -->

	</div><!-- MAIN CONTAINER -->
			<script type="text/javascript" src="{{ url_for('static', filename='js/paper-full.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon/openseadragon.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon/openseadragon-imaginghelper.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon/viewerinputhook.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/loadingoverlay.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/editPaperSeg.js') }}"></script>
			<script type="text/javascript">
				    viewer = new OpenSeadragon.Viewer({
			              id: "openseadragon1",
			              prefixUrl: "{{ url_for('static', filename='images/') }}",
			              tileSources: [],
			              showReferenceStrip: false,
			              referenceStripSizeRatio: 0.2,
			              showNavigator: true,
			              sequenceMode: false,
			              navigatorId:"myNavigator",
			              zoomInButton:"zoom-in",
			              zoomOutButton:"zoom-out",
			              homeButton:"home",
			              preserveViewport: true
					});
			</script>
		</body>
	</html>
