	<!DOCTYPE html>

	<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/cyto.css') }}">  
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.3.js') }}"></script>
		<title>CytoQuant</title>
	</head>

	<body>
		<div class="main-container">

			<!-- HEADER START -->
			<header id="header-container">
				<!-- NAVIGATION BAR -->
				{% block header %}
					{% 
						include 'navigation_bar.php'
					%}
				{% endblock %}	
				<!-- NAVIGATION BAR -->
			</header><!-- HEADER CONTAINER -->

		<div>
			<button class="button" id="prev" title="Previous slice"><img src="../static/images/prev.svg"></button>
			<button class="button" id="next" title="Next slice" ><img src="../static/images/next.svg"></button>
		</div>



		<!-- pic start -->
		<div id="openseadragon1">

		</div>
		<!-- pic ends -->

	    <!-- footer start -->
	    {% block footer %}
			{% 
				include 'footer.php' 
			%} 
		{% endblock %}
	    <!-- footer end -->

	</div><!-- MAIN CONTAINER -->
			<script type="text/javascript" src="{{ url_for('static', filename='js/paper-full.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon/openseadragon.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon/openseadragon-imaginghelper.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon/viewerinputhook.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/loadingoverlay.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/editPaperSeg.js') }}"></script>
			<script type="text/javascript">
				function sticky() {
		
					var sticky_point = 155;
					
					$("#header").clone().attr({
						id: "header-sticky",
						class: ""
					}).insertAfter("header");
					
					$("#header-sticky #logo img").attr("src", "../static/images/cyto_logo_sticky.png");
					
					$(window).scroll(function(){
						
						if ($(window).scrollTop() > sticky_point) {  
							$("#header-sticky").slideDown(300).addClass("header-sticky");
							$("#header .menu ul, #header .menu .megamenu-container").css({"visibility": "hidden"});
						} else {
							$("#header-sticky").slideUp(100).removeClass("header-sticky");
							$("#header .menu ul, #header .menu .megamenu-container").css({"visibility": "visible"});
						}
						
					});
					
				}
				sticky();
			</script>
		</body>
	</html>
