	<!DOCTYPE html>

	<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.3.js') }}"></script>
		<title>CytoQuant</title>
	</head>

	<body>
		<div class="wrapper">
			<table align="center">
					<div id="container">
									<!-- logo div starts -->
									<div id="logo">
										<img src="static/logo_V1.gif" alt="Mountain View" style="width:200px;border:0" >
									</div>
									<!-- logo div ends -->
					</div>

					<!-- seg, detect and search boxes start-->
					<tr>
						<!-- segmentation  -->
						<td style="text-align:center;white-space:nowrap">
							<form id="frmsegment" action="{{ url_for('segmentation') }}" align="center" method=post enctype=multipart/form-data>
								<div style="list-style-type:none"><input type="image" class="circle_image" src="{{ url_for('static', filename = 'icons/segmentation_icon.png') }}" border="0" alt="Submit"></div>
								<div style="list-style-type:none" ><input id="btnSegment" type="button"   value="Segmentation" class="bt-function"></div>
							</form>
						</td>
						<!-- segmentation ends -->
					</tr>
					<!-- seg, detect and search boxes end -->
		</table>
	</div>



	<!-- pic start -->
	<div id="openseadragon1"></div>
	<!-- pic ends -->

  <!-- footer start -->
		<footer align="center" style="position:relative; bottom:0px; height:10px; width: 1000px">
			<p style="font-size:16px" class="copyright" align="center">Copyright @2016,
				<a href="http://www.bme.ufl.edu/labs/yang/" target="_blank" >BICI2 Lab.</a>
				ALL RIGHTS RESERVED.</p>
		</footer>
	<!-- footer ends	 -->
			<script type="text/javascript" src="{{ url_for('static', filename='js/paper-full.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon/openseadragon.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon/openseadragon-imaginghelper.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon/viewerinputhook.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/loadingoverlay.min.js') }}"></script>
			<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/init_slides.js') }}" ></script> -->
			<script type="text/javascript" src="{{ url_for('static', filename='js/editPaperSeg.js') }}"></script>
			
		</body>
	</html>
